.text-content{
}

.about-me.text-content{
    padding: 0 7em;
}


@media screen and (max-width: 600px) {
    
    .about-me.text-content{
        padding: 0 2em;
    }
}

.styled-text {
    font-size: 1.5rem;
    margin-bottom: 2em;
    line-height: calc(1ex / 0.32);
    letter-spacing: 2px;
}

.achieved > .styled-text{
    font-size: 1em;
}

.experience-section-header, .experience-section-text{
    width: 100%;
}

.experience-section-text > .styled-text {
    font-size: 1em;
}
